<html>
    <head>
        <title>Add a blog entry</title>
    </head>
    <body>
        <div id="Links2">
            <a href="main.html">Main Blog Page</a>
            <a href="add-blog.html">Add a blog entry</a>
        </div>
        <br />
        <form action="/create"method="POST">
            <label for="title">Title for your new blog:</label>
            <br />
                <tr>
                    <td>
                        <input name="title" type="text" value="">
                    </td>
                </tr>
            <br />
                <label for ="Details">Enter Details here:</label>
            <br />
            <tr>
                <td>
                    <input type="textarea" rows = "4" cols ="5" name="Details" value=""></textarea>
                </td>
            </tr>
        </form>
    </body>
</html>